#mur{
    width: 100%;
    height: 100vh;
    background-color: violet;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    justify-content: space-around;
}
.murshid{
    width: 25%;
    height: 500px;
    border: 2px solid blue;
    
}
.md{
    width: 375px;
    height: 200px;
    border: 2px solid green;
}
.mr{
    width: 375px;
    height: 200px;
    border: 2px solid orange;
}
#khan{
    width: 98%;
    height: 88px;
    border: 4px solid black;
}

